<% layout('../layout/page') -%>

<!-- Main info block -->
<div class="b-page__wrapper">
    <div class="l-container">
        <div class="b-page__inner">
            <main class="b-products__wrapper ">
                <h1 class="b-page__title" id="h1">
                    Cart Page
                </h1>
                <div class="b-products___list js-product-grid  js-product-cart "> 
                    <% for (let i = 0; i < products.length; i++) { %>
                        <% var product = products[i] %>
                        <div class="b-product-tile js-product-tile js-product" data-pid="<%= product.id %>">
                                <img class="b-product-tile__image" src="<%= product.image %>">
                                <div class="b-product-tile__preview ">
                                    <i class="b-product-tile__icon fa fa-search-plus fa-2x"></i>
                                    <div>Preview book</div>
                                </div>                          
                            <div class="b-product-tile__details">
                                <div class="b-product-tile__author"><%= product.author %></div>
                                <a 
                                    class="b-product-tile__product-link b-product-tile__name">
                                    <%= product.name %>
                                </a>
                                <div>
                                    <span>Quantity:</span>
                                    <span class="js-quantity"><%= product.quantity %></span>
                                </div>
                                <a href="#" class="btn btn-add-to-cart js-remove-from-cart">
                                   </i>Remove from Cart
                                </a>
                            </div>
                            </div>
                    <% } %>      
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
