
<div class="b-product-tile js-product-tile js-product" data-pid="<%= product.id %>">
<div class="b-product-tile__image__wrapper">
    <img class="b-product-tile__image" src="<%= product.image %>">
    <div class="b-product-tile__preview js-quick-view"
        data-url="<%= '/product/quick-view?pid=' + product.id %>">
        <i class="b-product-tile__icon fa fa-search-plus fa-2x"></i>
        <div>Preview book</div>
    </div>
</div>

<div class="b-product-tile__details">
    <div class="b-product-tile__author"><%= product.author %></div>
    <a href="<%= 'product/show?pid=' + product.id %>"
        class="b-product-tile__product-link b-product-tile__name">
        <%= product.name %>
    </a>
    <div class="b-product-tile__description"><%= product.description %></div>
    <div class="b-product-tile__variations">
        <span class="b-variation__item m-active">Book</span>
        <span class="b-variation__item">eBook</span>
    </div>
    <div class="b-product-tile__price"><%= product.price %>$</div>
    <a href="#" class="btn btn-add-to-cart js-add-to-cart">
        <i class="fa fa-cart-plus"></i> Add to Cart
    </a>
</div>
</div>