<% layout('../layout/page') -%>

<!-- Main info block -->
<div class="b-page__wrapper">
    <div class="l-container">
        <div class="b-page__inner">
            <main class="b-products__wrapper">
                <h1 class="b-page__title">
                    Library
                </h1>
                <div class="b-products___list js-product-grid">
                    <%- include ../product/productTiles %>
                </div>
            </main>
        </div>
    </div>
</div>
